# Ignore node modules
/node_modules

# Ignore VSCode configs
/.vscode/*

# Ignore config jsons
/config/info_config.json

# Ignore built site
/dist

# Ignore created projects
/public/projects/*
!/public/projects/ex_project