:root {

    /* Enable light and dark mode support */
    color-scheme: light dark;

    /* Light mode override */
    &[data-theme = 'light'] {

        color-scheme: light;
    }

    /* Dark mode override */
    &[data-theme = 'dark'] {

        color-scheme: dark;   
    }

    /* Global color variables */
    --bg-color: light-dark(whitesmoke, rgb(27, 27, 27));
    --accent-color: light-dark(gray, gray);
    --font-color: light-dark(black, white);
    --font-highlight: light-dark();
    --button-color: light-dark();
    --button-pressed-color: light-dark();

    /* Set global values */
    font-family: 'Garamond', 'Georgia';
    color: var(--font-color);
    background-color: var(--bg-color);
}

html, body {

    /* Fill screen */
    width: 100%;
    height: 100%;

    /* Remove padding and margins */
    padding: 0px;
    margin: 0px;
}

#root {

    /* Fill parent */
    height: 100%;
    width: 100%;

    /* No padding or margins */
    padding: 0px;
    margin: 0px;
}

/* Make everything respect border boxes */
* {

    box-sizing: border-box;
}