:root {

    /* Enable light and dark mode support */
    color-scheme: light dark;

    /* Light mode override */
    &[data-theme = 'light'] {

        color-scheme: light;
    }

    /* Dark mode override */
    &[data-theme = 'dark'] {

        color-scheme: dark;   
    }

    /* Global color variables */
    --bg-color: light-dark(whitesmoke, rgb(27, 27, 27));
    --accent-color: light-dark(gray, gray);
    --font-color: light-dark(black, white);
    --font-highlight: light-dark();
    --button-color: light-dark();
    --button-pressed-color: light-dark();

    /* Set global values */
    font-family: 'Times New Roman';
    color: var(--font-color);
    background-color: var(--bg-color);
}